#s-04ced8b2-d8da-46f4-9c79-3251209e090c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-04ced8b2-d8da-46f4-9c79-3251209e090c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}