#s-04ced8b2-d8da-46f4-9c79-3251209e090c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-04ced8b2-d8da-46f4-9c79-3251209e090c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}