#s-0a4bc081-fa85-4ce7-a3da-1e22a7cea14e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-0a4bc081-fa85-4ce7-a3da-1e22a7cea14e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}