#s-2e5a0c28-33a5-4454-945d-9b07c242be0e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2e5a0c28-33a5-4454-945d-9b07c242be0e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-2e5a0c28-33a5-4454-945d-9b07c242be0e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}