#s-3b76c03a-f66d-463f-b927-e8b310e57014 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3b76c03a-f66d-463f-b927-e8b310e57014 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}