#s-414921c9-bf56-484b-a5d1-a6546483c943 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-414921c9-bf56-484b-a5d1-a6546483c943 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}