#s-55bc960a-19ad-40d4-8bfd-fc27969fcb73 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-55bc960a-19ad-40d4-8bfd-fc27969fcb73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}