#s-55bc960a-19ad-40d4-8bfd-fc27969fcb73 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-55bc960a-19ad-40d4-8bfd-fc27969fcb73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}