#s-5f262bd2-b4ed-4e83-af83-9e79d39bd45a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-5f262bd2-b4ed-4e83-af83-9e79d39bd45a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}