#s-6de54ff4-41f2-40b7-84ca-d53f6a6c3e3e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-6de54ff4-41f2-40b7-84ca-d53f6a6c3e3e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}