#s-6dfdac76-8f89-4a78-886c-3499ef7c2fcf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-6dfdac76-8f89-4a78-886c-3499ef7c2fcf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}