#s-7a0bb03d-0854-4a91-9c52-d20fffca9972 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-7a0bb03d-0854-4a91-9c52-d20fffca9972 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}