#s-7be15366-c4d5-4c5d-8d3b-f4a99ee9efb2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-7be15366-c4d5-4c5d-8d3b-f4a99ee9efb2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}