#s-806d515a-04ae-40f0-b78a-beb9af33d8fe #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-806d515a-04ae-40f0-b78a-beb9af33d8fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}