#s-8d69a637-3dd9-4893-8d60-4152f38de852 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-8d69a637-3dd9-4893-8d60-4152f38de852 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}