#s-96a03ef7-ba14-4815-a878-8bf1e6caf708 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-96a03ef7-ba14-4815-a878-8bf1e6caf708 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}