#s-9d5c99f6-5e80-4e0e-8e3f-52f1b4ebafea #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-9d5c99f6-5e80-4e0e-8e3f-52f1b4ebafea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}