#s-a1dbe9e0-b7cf-4993-b251-ca2d8c2c00c1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-a1dbe9e0-b7cf-4993-b251-ca2d8c2c00c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}