#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}