#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 322px;
  height: 568px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 #s-Hotspot_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 47px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 #s-Input_1 {
  position: absolute;
  top: 524px;
  left: 34px;
  padding-left: 15px;
  width: 233px;
  height: 43px;
  background-color: #EBEBEB;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-a77b7807-aada-49b5-b7bf-71768fbab3f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}