#s-a908cb25-a12b-42e6-a238-5072cdc6025f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-a908cb25-a12b-42e6-a238-5072cdc6025f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}