#s-aad76779-0772-495c-8208-6ed29c30d443 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-aad76779-0772-495c-8208-6ed29c30d443 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}