#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 322px;
  height: 568px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 #s-Hotspot_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 47px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 #s-Hotspot_6 {
  position: absolute;
  top: 78px;
  left: -1px;
  width: 322px;
  height: 490px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 #s-Hotspot_2 {
  position: absolute;
  top: 33px;
  left: 104px;
  width: 110px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 #s-Hotspot_3 {
  position: absolute;
  top: 33px;
  left: 210px;
  width: 110px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 #s-Hotspot_4 {
  position: absolute;
  top: 500px;
  left: 254px;
  width: 67px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}