#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-ad4449ed-0cdf-481c-ae55-215ff2f62010 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}