#s-bd16da22-9ad1-4bff-9765-5d58e60ca9b1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-bd16da22-9ad1-4bff-9765-5d58e60ca9b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}