#s-cf98d899-ae39-4cc5-8b5e-a3d275ae0796 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-cf98d899-ae39-4cc5-8b5e-a3d275ae0796 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}