#s-db2caa16-e535-4a28-826c-20e35bbdc81c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-db2caa16-e535-4a28-826c-20e35bbdc81c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}