#s-de11dc73-c55d-471b-81cf-56502c7c8005 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-de11dc73-c55d-471b-81cf-56502c7c8005 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}