#s-de11dc73-c55d-471b-81cf-56502c7c8005 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-de11dc73-c55d-471b-81cf-56502c7c8005 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}