#s-e7f8ed0f-ad18-4c76-8958-66738ca4754f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e7f8ed0f-ad18-4c76-8958-66738ca4754f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}