#s-fb27edb6-bf8c-4aea-bea2-f6f5697942a6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-fb27edb6-bf8c-4aea-bea2-f6f5697942a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}